body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(65, 65, 65);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.calculator-body {
  display: flex;
  flex-direction: column;
  width: 42vw;
  height: 70vh;
  border-radius: 8px;
  background: rgb(174, 146, 19);
  border: 2px solid rgb(192, 192, 192);
  align-items: center;
}

.display {
  background: rgb(204, 204, 204);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  height: 10%;
  width: 95%;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}
.display-prev,
.display-curnt {
  border: 2px solid black;
  text-indent: 8px;
}
.pad {
  display: flex;
  height: 75%;
  width: 100%;
}
.numbers {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 5px;
  gap: 2px;
  padding: 2px;
}
.rest,
.output {
  grid-column: span 2;
}
.numbers .n,
.numbers .o,
.numbers .options,
.numbers .mod {
  display: flex;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(177, 176, 176);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: none;
  border-radius: 8px;
  background: rgb(183, 28, 28);
  font-size: 20px;
}
.numbers .n:hover,
.numbers .options:hover,
.numbers .operators:hover {
  background-color: bisque;
  color: black;
  transition: 300ms ease-in-out;
}
.active {
  background-color: bisque;
  color: black;
}
.operators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.operators div {
  display: flex;
  border: 1px solid rgb(177, 176, 176);
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: center;
}

.options div {
  border: 1px solid rgb(177, 176, 176);
  display: flex;
  height: 75%;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
